<% for(i=0;i<oferta.length;i++) { %>
    <div class="offer_id">
        Id da Oferta: <%=oferta[i].offer_id %>
    </div>
    <div class="offer_link_lomadezavel">
       Link Lomadeezavel: <%=oferta[i].offer_link_lomadezavel %>
   </div>
    <div class="offer_name">
        Produto em oferta: <%=oferta[i].offer_name %>
   </div>
   <div class="offer_img">
        Imagem: <%=oferta[i].offer_img %>
   </div>
   <div class="offer_price">
        Preco: <%=oferta[i].offer_price %>
   </div>
   <div class="offer_discount">
        Valor desconto: <%=oferta[i].offer_discount %>
   </div>
<% } %>